workflows/daily-report-generator.json
{
  "name": "Daily Business Report Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "cron-daily",
      "name": "Weekdays at 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.ANALYTICS_API_URL || 'https://your-analytics-api.com/v1/summary' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 15000
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "period",
              "value": "yesterday"
            },
            {
              "name": "metrics",
              "value": "pageviews,sessions,users,bounce_rate"
            }
          ]
        }
      },
      "id": "fetch-analytics",
      "name": "Fetch Analytics Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 140],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_ME",
          "name": "Analytics API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.SALES_API_URL || 'https://your-sales-api.com/v1/daily' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 15000
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $now.minus(1, 'day').toFormat('yyyy-MM-dd') }}"
            }
          ]
        }
      },
      "id": "fetch-sales",
      "name": "Fetch Sales Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_ME",
          "name": "Sales API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.SOCIAL_API_URL || 'https://your-social-api.com/v1/metrics' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 15000
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $now.minus(1, 'day').toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "platforms",
              "value": "twitter,instagram,linkedin"
            }
          ]
        }
      },
      "id": "fetch-social",
      "name": "Fetch Social Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 460],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_ME",
          "name": "Social API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByPosition": true,
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [720, 300]
    },
    {
      "parameters": {
        "functionCode": "// Aggregate all data from the three API calls\n// Handle cases where APIs might return different structures\n\nconst items = $input.all();\nconst reportDate = new Date(Date.now() - 86400000).toISOString().split('T')[0];\n\n// Default structure if APIs are not configured\nconst analytics = items[0]?.json || {\n  pageviews: 0, sessions: 0, users: 0, bounce_rate: 0,\n  top_pages: [], avg_session_duration: 0\n};\n\nconst sales = items[1]?.json || {\n  total_revenue: 0, orders: 0, avg_order_value: 0,\n  new_customers: 0, returning_customers: 0\n};\n\nconst social = items[2]?.json || {\n  followers_gained: 0, total_engagement: 0,\n  impressions: 0, top_post: null\n};\n\nconst dataPrompt = `\n## Analytics (${reportDate})\n- Pageviews: ${analytics.pageviews || 'N/A'}\n- Sessions: ${analytics.sessions || 'N/A'}\n- Unique Users: ${analytics.users || 'N/A'}\n- Bounce Rate: ${analytics.bounce_rate || 'N/A'}%\n- Avg Session Duration: ${analytics.avg_session_duration || 'N/A'}s\n\n## Sales (${reportDate})\n- Total Revenue: $${sales.total_revenue || 0}\n- Orders: ${sales.orders || 0}\n- Avg Order Value: $${sales.avg_order_value || 0}\n- New Customers: ${sales.new_customers || 0}\n- Returning Customers: ${sales.returning_customers || 0}\n\n## Social Media (${reportDate})\n- New Followers: ${social.followers_gained || 0}\n- Total Engagement: ${social.total_engagement || 0}\n- Impressions: ${social.impressions || 0}\n- Top Post: ${social.top_post || 'N/A'}\n`;\n\nreturn [{\n  json: {\n    report_date: reportDate,\n    analytics,\n    sales,\n    social,\n    data_prompt: dataPrompt\n  }\n}];"
      },
      "id": "aggregate-data",
      "name": "Aggregate Report Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a business analyst. Generate a concise daily business report. Include: 1) Executive Summary (2-3 sentences), 2) Key Metrics with trend arrows, 3) Highlights & Concerns, 4) Recommended Actions. Use markdown formatting. Be data-driven and actionable. If data shows zeros, note that the data source may need configuration."
            },
            {
              "role": "user",
              "content": "=Generate a daily business report for {{ $json.report_date }}:\n\n{{ $json.data_prompt }}\n\nFormat as a professional report with sections."
            }
          ]
        },
        "options": {
          "temperature": 0.4,
          "maxTokens": 1500
        }
      },
      "id": "ai-report",
      "name": "AI Generate Report",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.4,
      "position": [1160, 300],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_ME",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const aiResponse = $input.first().json;\nconst prevData = $('Aggregate Report Data').first().json;\n\nconst reportContent = aiResponse.message?.content || aiResponse.choices?.[0]?.message?.content || 'Report generation failed.';\nconst reportDate = prevData.report_date;\n\n// Build HTML email version\nconst htmlReport = `\n<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; max-width: 680px; margin: 0 auto; padding: 24px;\">\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 24px; border-radius: 12px 12px 0 0; color: white;\">\n    <h1 style=\"margin: 0; font-size: 22px;\">Daily Business Report</h1>\n    <p style=\"margin: 8px 0 0; opacity: 0.9;\">${reportDate}</p>\n  </div>\n  <div style=\"background: #fff; padding: 24px; border: 1px solid #e2e8f0; border-top: none; border-radius: 0 0 12px 12px;\">\n    ${reportContent.replace(/\\n/g, '<br>').replace(/#{1,3}\\s(.+)/g, '<h3 style=\"color: #4a5568; border-bottom: 2px solid #667eea; padding-bottom: 8px;\">$1</h3>').replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')}\n  </div>\n  <p style=\"text-align: center; color: #a0aec0; font-size: 12px; margin-top: 16px;\">Automated by n8n Daily Report Generator</p>\n</div>`;\n\n// Build Slack message\nconst slackMessage = `:bar_chart: *Daily Business Report - ${reportDate}*\\n\\n${reportContent.substring(0, 3000)}`;\n\nreturn [{\n  json: {\n    report_date: reportDate,\n    report_markdown: reportContent,\n    report_html: htmlReport,\n    slack_message: slackMessage,\n    email_subject: `Daily Report: ${reportDate}`,\n    analytics: prevData.analytics,\n    sales: prevData.sales,\n    social: prevData.social\n  }\n}];"
      },
      "id": "format-report",
      "name": "Format Report Outputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1380, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.FROM_EMAIL || 'reports@yourdomain.com' }}",
        "toEmail": "={{ $env.REPORT_RECIPIENTS || 'team@yourdomain.com' }}",
        "subject": "={{ $json.email_subject }}",
        "html": "={{ $json.report_html }}",
        "options": {}
      },
      "id": "send-email-report",
      "name": "Email Report",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2.1,
      "position": [1620, 200],
      "credentials": {
        "smtp": {
          "id": "REPLACE_ME",
          "name": "SMTP Email"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_REPORT_CHANNEL || '#daily-reports' }}",
        "text": "={{ $json.slack_message }}",
        "otherOptions": {}
      },
      "id": "send-slack-report",
      "name": "Slack Report",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1620, 400],
      "credentials": {
        "slackOAuth2Api": {
          "id": "REPLACE_ME",
          "name": "Slack OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Weekdays at 9 AM": {
      "main": [
        [
          {
            "node": "Fetch Analytics Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Sales Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Social Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Analytics Data": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sales Data": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Social Metrics": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All Data": {
      "main": [
        [
          {
            "node": "Aggregate Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Report Data": {
      "main": [
        [
          {
            "node": "AI Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate Report": {
      "main": [
        [
          {
            "node": "Format Report Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report Outputs": {
      "main": [
        [
          {
            "node": "Email Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "reporting",
      "id": "11"
    },
    {
      "name": "ai",
      "id": "6"
    },
    {
      "name": "daily",
      "id": "12"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-21T00:00:00.000Z",
  "versionId": "1.0.0"
}
